.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-light-blue: #94a8fc;
  --color-medium-blue: #6464f4;
  --color-light-steel: #babcfc;
  --color-gray: #545a67;
  --color-dark-slate: #2d313e;
  --color-white: #ffffff;
  --color-black: #040515;
}

.maindiv {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  justify-items: center;
  justify-content: center;
}

.div1 {
  width: 10rem;
  height: 2.5rem;
  padding: 15px;
  background-color: var(--color-light-blue);
}

.div2 {
  width: 10rem;
  height: 2.5rem;
  padding: 15px;
  background-color: var(--color-medium-blue);
}

.div3 {
  width: 10rem;
  height: 2.5rem;
  padding: 15px;
  background-color: var(--color-light-steel);
}

.div4 {
  width: 10rem;
  height: 2.5rem;
  padding: 15px;
  background-color: var(--color-gray);
}

.div5 {
  width: 10rem;
  height: 2.5rem;
  padding: 15px;
  background-color: var(--color-dark-slate);
}

.div6 {
  width: 10rem;
  height: 2.5rem;
  padding: 15px;
  background-color: var(--color-white);
}

.div7 {
  width: 10rem;
  height: 2.5rem;
  padding: 15px;
  background-color: var(--color-black);
  color: var(--color-white) ;
}
