:root{
  --primary-color: #007bff;
  --secondary-color: #ffffff;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: transperant;
}

body{
  scroll-behavior: smooth;
}

::selection {
  background: var(--primary-color);
  color: var(--secondary-color);
}